@font-face{
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}

body {
    background-color: hsla(232, 8%, 12%, 1);
    text-align: center;
    font-family: Comfortaa;
}

a.btn{
    background-color: hsla(232, 8%, 22%, 1) ;
    color: hsla(232, 1%, 67%);
    margin: 3%;
}

.btnShadow{
    box-shadow: 3px 3px hsla(232, 8%, 32%, 1) ;
}

#linkDiv{
    margin-top: 150px;
}

ul{
    list-style: none;
}
li {
    border-bottom: 2px solid;
}

a:visited {
    border: none;
}

#vreme {
    border: 1px solid transparent;
    border-radius: 10px;
    float: right;
    font-weight: bold;
    font-size: small;
    color: hsla(232, 8%, 32%, 1);
}

#vreme img {
    height: 40px;
    width: 40px;
}

#edit {
    display: none;
}